[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arrangements"]
	path = arrangements
	url = https://github.com/randy3k/arrangements
[submodule "cliff"]
	path = cliff
	url = https://github.com/randy3k/cliff
[submodule "collections"]
	path = collections
	url = https://github.com/randy3k/collections
[submodule "iterpc"]
	path = iterpc
	url = https://github.com/randy3k/iterpc
[submodule "otp"]
	path = otp
	url = https://github.com/randy3k/otp
[submodule "retry"]
	path = retry
	url = https://github.com/randy3k/retry
